
@using meetingApp.Models;
@{
	ViewData["Title"] = "Главная страница";
	ViewBag.StartMeet = "Начать знакомиться";
}
@section Styles{
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/main.css">
}
<div class="main">
    <div class="img"><img src="~/img/logo.jpeg" /></div>
    <div сlass="go">
        <button>Начать закомиться</button>
    </div>
</div>


